{% load static %}
<html>

<head>
    <title>Ask me what you see</title>
     <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/2097/2097960.svg" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <script src="{% static 'js/mainscript.js' %}"></script>
</head>
<body>
<div class="container">
    <br/>
    <h2 class="display-3 font-weight-bold">What you see is what you get</h2>
    {#         <input type='file' onchange="readURL(this);" />#}

    <form action="" method="post" enctype="multipart/form-data" class="form" id="id_ajax_upload_form">
        {% csrf_token %}
        <p><img id="blah" src="#" alt="."></p>


        <p><label for="id_photo">Photo:</label>
            <input type="file" name="photo" class="form-control" onchange="readURL(this)"
                   placeholder="Student Photo" accept="image/*" required=""
                   id="id_photo"></p>
        <p><label for="id_question">Question:</label>
            <input type="text" name="question" class="form-control"
                   placeholder="Question" required="" id="id_question"></p>

        <p><input type="submit" class="btn btn-outline-primary" value="Submit" ></p>

    </form>
    <br/>
    <span id="msg"></span><br><br>
    <br/>
    <input type="button" class="btn btn-outline-primary" value="Speak" id="speak"/>
    <input type="button" class="btn btn-outline-warning" onclick="pause()" ; value="Pause" id="pause"/>
    <br/><br/>
    <h6 type='text' id="speech-msg">{{ text }}</h6>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <center><h3>Follow and Support me on</h3></center>
    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/nitin.sahu.39750">
                    <i class="fa fa-facebook-f fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://twitter.com/sudoNitin">
                    <i class="fa fa-twitter fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1" href="https://www.youtube.com/channel/UCqfXZHvyiaw3vDWO_lxO7kQ">
                    <i class="fa fa-youtube-play fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/nitin-sahu-globefire/">
                    <i class="fa fa-linkedin fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com/debuggingcode/">
                    <i class="fa fa-instagram fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1" href="https:github.com/globefire/">
                    <i class="fa fa-github fa-2x"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/globefire/"> Brian Njoroge</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


</body>
</html>